*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 231, 231);
}
.nav-list{
    background-color: #1073a3;
    list-style: none;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-logo{
    font-size: 2.5rem;
    color: azure;
}
.nav-list div{
    display: flex;
    gap: 30px;
}
.nav-list a{
    text-decoration: none;
    font-size: 1.7rem;
    color: azure;
}
.main-content{
    width: 60%;
    margin: auto;
    box-shadow: 3px 3px 30px black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
}
.recipe1{
    display: flex;
    
}
.left-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-box h2{
    font-size: 1.8rem;
}
.left-box .ingred-list{
    font-size: 1.1rem;
}
.left-box .recipe-list{
    font-size: 1.1rem;
}

.right-box{
    position: relative;
    transition: all 0.6s  linear 0s;
    /* overflow: hidden; */

}

.right-box img{
    height: 400px;
    width: 250px;
    border-radius: 15px;
}

.right-box:hover{
    transform: scale(1.1); 
}

.right-box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(116, 112, 112, 0.603);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.right-box:hover .overlay{
    opacity: 1;
}
.right-box .overlay span{
    color: azure;
    font-size: 1.2rem;
}

.footer-box{
    background-color: #1073a3;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box p{
    font-size: 1.2rem;
    color: azure;
}